// conf/test_full.config
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.
    Use as follows:
        nextflow run nf-core/multistep-peak-annotation -profile test_full,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full size test dataset to check pipeline function'

    // Full test resources
    max_cpus   = 16
    max_memory = '128.GB'
    max_time   = '12.h'

    // Same input data (but test with full resources and all features)
    input      = "${projectDir}/assets/test_data/peaks/*.bed"

    // Annotation files
    gtf        = "${projectDir}/assets/test_data/annotations/drosophila.gtf"
    crm_bed    = "${projectDir}/assets/test_data/annotations/crm_regions.bed"
    intron_bed = "${projectDir}/assets/test_data/annotations/first_intron_regions.bed"

    // Peak calling options
    min_consensus_reps = 2
    skip_consensus     = false

    // Use dm6 built-in HOMER genome
    homer_genome = 'dm6'
    species      = 'drosophila_melanogaster'

    // Enable all features for full testing
    enable_lncrna_mirna_expansion = true
    auto_download_references      = true

    // Annotation options
    skip_crm    = false
    skip_intron = false
    homer_distance = 1000
    intersect_overlap_fraction = 0.0

    // Additional HOMER options for full test
    homer_promoter_size = 1000
    homer_upstream      = 1000
    homer_downstream    = 1000
}
